// base
@import "./base/_reset";
@import "./base/_print";

// vendor
@import "../../node_modules/@fancyapps/ui/dist/fancybox/fancybox";
@import "./vendor/_slick"; 

.common-wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

.fullscreen {
    min-height: 100lvh;
}

.flex-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

::selection {
    background-color: #bebcb9;
    color: black;
}


:is(:link, :visited)::selection  {
    color: #35343471
}

:is(:is(:link, :visited):hover)::selection  {
    color: #353434;
  }

.hidden {
    display: none;
}

  
@media screen and (max-width: 915px) {
    
    html {
        font-size: 62.5%;
    }

}

@media screen and (max-width: 345px) {
   
    html {
        font-size: 50%;
    }

}

// layout
@import "./layout/_header";
@import "./layout/_footer";

// components
@import "./components/_modal";
@import "./components/_pageup";
@import "./components/_cart";
@import "./components/_toaster";
@import "./components/_button";
@import "./components/_about-us";
@import "./components/_new";
@import "./components/_form";
@import "./components/_catalog";
@import "./components/_intro"